<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/aaa" method="post">
    <label for="email">E-mail</label>
    <input id="email" type="email" name="email" required>
    <label for="password">Password</label>
    <input id="password" type="password" name="password" required>
    <button>Create Account</button>
  </form>
  <% if(typeof result !== 'undefined') { %>
    <p>Your Email is - <%= result.email %></p>
    <p>Your password is - <%= result.password %></p>
  <% } %>
</body>
</html>